{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "bracketSameLine": true,
    "printWidth": 500,
    "singleAttributePerLine": false
}
